spring:
  application:
    name: server

  datasource:
    url: jdbc:mysql://localhost:3306/didit?serverTimezone=Asia/Seoul&characterEncoding=utf8
    username: ssafy
    password: ssafy

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration
    clean-disabled: true
