spring:
  application:
    name: server

  datasource:
    url: jdbc:mysql://localhost:3306/didit?serverTimezone=Asia/Seoul&characterEncoding=utf8
    username: ssafy
    password: ssafy

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration
    clean-disabled: true

  security:
    oauth2:
      client:
        registration:
          github:
            client-id: ${GITHUB_CLIENT_ID:defaultId}
            client-secret: ${GITHUB_CLIENT_SECRET:defaultSecret}
            scope:
              - read:user
              - user:email